.woocommerce-js .quantity .qty {
    display: none !important;
}
/* .wc-block-components-quantity-selector{
    display: none !important;
} */
.cpff-custom-form{
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin: 16px 0;
    box-shadow: 0 0 5px #eee;
    overflow: hidden;
}

/**
This styles are for hosannaunom website
*/

a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart, #cpff_custom_form_1, #cpff_custom_form_2 {
    display: none;
}

/* End Hosannunom styles */